body{
    font-family: 'Otomanopee One', sans-serif;
    
}
h1{
    font-size: 50px;
}
.tagcolor{
    color: rgba(71, 5, 255, 0.726);
}
.top{
    display: flex;
    background-image: url(images/shapes/back.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 80px;
}
.para{
    text-align: justify;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
.half-width h1{
    padding-left: 30%;
}
.half-width img{
    width: 60%;
    padding-left: 15%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(253, 14, 6),tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}
.middle{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 80px;
    margin-right: 0%;
}

#recipie{
    text-align: center;
    
}
h2{
    text-align: center;
    font-size: 40px;
}
.menu_item{
    width: 30%;
    padding: 3%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    
}
.menu_item img{
    width: 100%;
    border-radius: 15px;
}
.flex{
    display: flex;
}
.menu{
    margin-top: 80px;
    margin-bottom: 200px;
}

footer{
    text-align: center;
}
h3{
    font-size: 25px;
}
.down{
    background-color: black;
    color: blanchedalmond;
}